[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
torch = "*"
torchvision = "*"
pandas = "*"
tqdm = "*"
scikit-learn = "*"
ipywidgets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
