[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pillow = "*"
matplotlib = "*"
torchvision = "*"
sklearn = "*"
tqdm = "*"
pandas = "*"

[dev-packages]
ipykernel = "*"
ipywidgets = "*"

[requires]
python_version = "3.8"
